body {

    width: 400px;
    margin: auto;
    background-color: rgb(210, 224, 224);
}

h2 {
    padding-top: 20px;
}
div {
    padding-bottom: 20px;
}

#container {
    
    margin-top: 40px;
    border-radius: 40px;
    background-color: rgb(115, 255, 0);
    padding: 10px;

}